#dashboardSummary {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: darkgrey;
  justify-content: space-around;
  font-size: small;
  margin-bottom: 30px;

  & p {
    margin: 0;
  }
}

h2 {
  font-size: large;
}

.canvasContainer {
  height: 200px;
  width: 100%;
  padding: 0 10px;
}