#submitEditArticle {
    align-self: flex-end;
}

.btn-grapesjs {
    margin: 2% 2% 2% 0%;
}

#step2-option1 {
    margin-bottom: 1%;
}

#step2-option2 {
    margin-bottom: 1%;
}

#step1 {
    .form-group {
        margin-bottom: 1%;
    }
}
.form-group.step3{
    margin-bottom: 2%;
}

#editorGrapesJsForEdit{
    margin-bottom: 2%;
}