.crud-button {
  cursor: pointer;
  color: $primary;
  text-decoration: underline;
  &.row-edit-button {

  }
  &.row-delete-button {

  }
}
.response-message {
  display: none;
  &.active {
    display: block;
  }
}