// Global
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

$primary: #118ab2;
$secondary: #06d6a0;
$warning: #a44a3f;

$font-family-base: "Poppins", sans-serif;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --warning: #{$warning};
  --font-family-base: #{$font-family-base};
}

// Bootstrap
@import "../../library/bootstrap/scss/bootstrap.scss";

// Partials

@import "./partials/_header.scss";
@import "./partials/_footer.scss";
@import "./partials/_game.scss";
@import "./partials/editUserModal";
@import "./partials/form";
@import "./partials/datatable";
@import "./partials/articleManagment";

// Views
@import "./views/_back.tpl.scss";
@import "./views/_form.scss";

